<h1>About HITS Lab</h1>
<p>
    HITS Lab stands for Health Information Technology Systems Laboratories.

    <br />

    It was conceived by Paul Tavolacci, MBA who noticed that the same
    accelerators of technology in finance were poised to take effect in
    healthcare. By empowering consumers and payers to realize more value
    through transparency of data, HITS Lab is creating a marketplace
    of highly contextualized channels connecting all participants in the
    business of health and wellness

</p>
