<!DOCTYPE>
<html>

<link rel="stylesheet" href="stylesheets/search.css"/>

<h1 style="color:#735f8e; font-size:300%;"> Doctor Search</h1>

<p>
    Search HITS Lab repository of physicians.

<form action="/doctor.search" method="POST">

    <input id="searchBox" type="text" size="32" name="doctorname" placeholder="Enter Name or Speciality"/> <br>

    <input type="location" size="32" name="location" placeholder="Location" /> <br>

    <input id="submitSearch" type="button" class="styled-button-1" value="Search" />

    <table id="resultsTable"></table>

</form>

</p>

<script src="libraries/jquery/dist/jquery.js"></script>
<script src="javascript/search.js"></script>

</html>
